.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    background-color: #0a335c;
    color: #F1F0E8;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 10px;
    flex-grow: 0; /* لا حاجة لتوسيع هذا القسم */
}

.logo {
    margin-bottom: 0.4rem;
    width: 30px;
    height: auto;
}

.clinic-name {
    font-size: 25px;
    font-weight: bold;
    color: #F1F0E8;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links li {
    font-size: 20px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #F1F0E8;
    padding: 5px 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #57648e;
    border-radius: 20px;
}

.dropdown-menu {
    display: none;
   
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #57648e;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
   
}


.dropdown:hover .dropdown-menu {
    display: block;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #0a335c;
    color: #F1F0E8;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar-links {
    list-style: none;
    padding: 0;
}

.sidebar-links li {
    margin: 20px 0;
}

.sidebar-links a {
    text-decoration: none;
    color: white;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Responsive */
.toggle-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.translate-icon {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .logo-container {
        flex-grow: 1;
        justify-content: center;
    }

    .translate-icon {
        position: absolute;
        left: 20px;
        top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-links {
        display: flex;
        margin-left: auto;
    }

    .logo-container {
        flex-grow: 0;
        justify-content: flex-end; /* وضع الشعار على اليمين */
    }

    .toggle-btn {
        display: none;
    }

    .translate-icon {
        position: absolute;
        left: 20px;
        top: 10px;
    }
}

@media (min-width: 1025px) {
    .nav-links {
        display: flex;
        margin-left: auto;
    }

    .logo-container {
        flex-grow: 0;
        justify-content: flex-end; /* وضع الشعار على اليمين */
    }

    .translate-icon {
        position: absolute;
        left: 20px;
        top: 10px;
    }
}
