.book {
    width: 22%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #f8eff6ec;
    display: flex; /* Enables flexbox for centering */
    flex-direction: column; /* Makes the content stack vertically */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
}

.book:hover {
    transform: scale(1.05);
}

.book-img {
    width: 16rem;
    height: 20rem;
    display: block; /* Ensure the image is treated as a block */
    margin: 0 auto; /* Optional if needed */
}

.caption h3 {
    font-size: 15px;
    margin: 10px 0;
}

.caption p {
    margin: 5px 0;
    color: #555;
}
